html {
	height: 100%;
	font-size: 14px;
	scroll-behavior: smooth;
}

*, *:before, *:after {
	box-sizing: border-box;
    outline: none !important;
}

body {
	font-family: 'Fira Sans', Verdana, Tahoma, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	text-align: justify;
}


/*---------------*/
/***** Блоки *****/
/*---------------*/
header {
	.block('../images/header.jpg');
}

#entry {
    .block('../images/calendar.jpg');
}

#gallery {
    .block('../images/gallery.jpg');
    background-position: center;
}

#services {
    .block('../images/services.jpg');
}

#content, #insta {
	.block('../images/instagram.jpg');
	height: 100%;
	background-repeat: repeat-y;
    padding: 15px;
    height: auto !important;
}

#about {
    .block('../images/about.jpg');
}

#brow {
	.block('../images/brow.jpg');
}

#stylist {
	.block('../images/stylist.jpg');
}

#about-1 {
	.block('../images/header.jpg');
}

#about-2 {
    .block('../images/instagram.jpg');
    height: 650px !important;
}

#contacts {
    .block('../images/contacts.jpg');
    height: 650px;
}

footer {
	padding: 0 25px 0 25px;
	background: #282828;
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	.height_responsive();
}

/*--------------*/
/***** FORM *****/
/*--------------*/
label {
    margin-top: 15px;
    display: block;
    font-size: 1rem;
    position: relative;
    bottom: -5px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 250px;
    display: block;
    font-size: 1rem;
    padding-left: 10px;
    color: black;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed black;
}

textarea {
    width: 250px;
    height: 100px;
    display: block;
    font-size: 1rem;
    padding: 10px 20px;
    color: black;
    background: transparent;
    border: 1px dashed black;
}

input[type="file"] {
    font-size: 1rem;
    background: transparent;
}

input[type="submit"] {
    width: 110px;
    height: 40px;
    display: block;
    margin: 20px 0 0 0 !important;
    font-size: 1.25rem;
    background: #39B54A;
    width: 250px;
    height: 40px;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 1.5px;
}