.block(@image) {
	padding: 50px 15px 0 15px;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(@image);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	.height_responsive(); 
}

.height_responsive {
	@media(max-width: 414px) {
		height: 736px;
	}
	@media(max-width: 375px) {
		height: 667px;
	}
	@media(max-width: 320px) {
		height: 568px;
	}
}

.flex_center {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position_absolute(@indent) {
	position: absolute;
    bottom: @indent;
    left: 15px;
    right: 15px;
}