/*-----------------*/
/***** topmenu *****/
/*-----------------*/
.topmenu {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topmenu__button {
    background: transparent;
    border: none;
    float: right;
}

.topmenu__list {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    margin: 0;
    top: 0;
    z-index: 9999;
    .flex_center();
    transform: translateX(-100%);
    &_active {
        transform: translateX(0);
    }
}

.topmenu__item {
    width: 100%;
    height: 45px;
    margin: 5px 0;
    background: rgba(256, 256, 256, 0.5);
    .flex_center();
}

.topmenu__link {
    color: black;
    text-decoration: none;
    font: bold 1.25rem 'Arimo';
}

.topmenu__logo {
    height: 50px;
    width: auto;
}

/*------------------*/
/***** Elements *****/
/*------------------*/
.title {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    &_high {
        .position_absolute(250px);
    }
    &_medium {
        margin: 0 0 10px 0; 
    }
    &_low {
        font-size: 1rem; 
    }
    &_service {
        .position_absolute(300px);
    }
    &_page {
        margin: 0 0 10px 0;
    }
    &_footer {
        .position_absolute(250px);
        @media(max-width: 320px) {
            display: none;
        }
    }
}

.text {
    color: white;
    text-align: justify;
    margin-top: 20px;
    &_header {
        .position_absolute(70px);
    }
    &_entry {
        margin-top: 100px;
    }
    &_gallery {
        .position_absolute(70px);
    }
    &_about {
        margin-top: 35px;
    }
    &_personal {
        .position_absolute(100px);
    }
}

.pagelink {
    margin-top: 25px;
    width: 220px;
    height: 45px;
    background: rgba(256, 256, 256, 0.7);
    .flex_center();
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    &_entry {
        margin: 120px auto 0;
    }
    &_gallery {
        position: absolute;
        bottom: 130px;
        left: 15px;
        right: 15px;
        margin: 0 auto;
    }
    &_about {
        margin: 50px auto 0;
    }
}

.link_scroll {
    height: 29px;
    width: 268px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    background-image: url('../images/scroll.png');
    font-size: 1.125rem;
    color: black;
    text-decoration: none;
    .flex_center();
    display: none;
}

.link_private {
    color: red;
}

.mark {
    color: red;
    font-size: 20px;
}

/*------------------*/
/***** Контакты *****/
/*------------------*/
.contact-box__list {
    margin-top: 40px;
}

.contact-box__item {
    margin-top: 15px;
}

.contact-box__link {
    color: white;
    text-decoration: none;
}

.contact-box__network {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-box__img {
    height: 30px;
    width: auto;
}

.contact-box__map {
    margin-top: 20px;
}

/*------------------*/
/***** SERVICES *****/
/*------------------*/
.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

/*---------------*/
/***** About *****/
/*---------------*/
.about_boottom {
    .position_absolute(100px);
}

/*-----------------*/
/***** Gallery *****/
/*-----------------*/
.gallery__image {
    filter: brightness(90%);
}

/*----------------*/
/***** FOOTER *****/
/*----------------*/
.brandbox {
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}

.brandbox__box {
    .flex_center();
}

.separator {
    margin: 20px 0;
}

/*--- footer-menu ---*/
.footer-menu {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.footer-menu__item {
    .flex_center();
}

.footer-menu__link {
    color: white;
    text-decoration: none;
}

/*--- footer-submenu ---*/
.footer-submenu {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.footer-submenu__item {
    .flex_center();
}

.footer-submenu__link {
    color: #C6C5C6;
    text-decoration: none;
    font-size: 0.85rem;
}

/*--- develop ---*/
.develop {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.develop__logo {
    height: 50px;
    width: auto;
}

.copyright {
    color: white;
    text-align: center;
    .position_absolute(70px);
}

/*------------------------*/
/***** Модальное окно *****/
/*------------------------*/
.modalbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    color: black;
}

.modalbox__content {
    background: white;
    width: 300px;
    height: 700px;
    display: block;
    padding: 20px;
    position: relative;
    margin: 140px auto 40px;
}

.modalbox__private {
    font-size: 1rem;
}

.modalbox__close {
    width: 110px;
    height: 40px;
    display: block;
    margin: 0 !important;
    font-size: 1.25rem;
    background: red;
    width: 250px;
    height: 40px;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
}