/*-----------------*/
/***** Таблица *****/
/*-----------------*/
.tablepress .odd td, .tablepress .even td, .tablepress thead th {
    background-color: transparent !important;
}

.column-1, .column-2, .column-3 {
    text-align: center !important;
    font-size: 0.85rem !important;
}

.tablepress td {
    padding: 5px 2px !important;
    text-align: center !important;
}

/*------------------------*/
/***** Модальные окна *****/
/*------------------------*/
.modal-active {
    display: flex;
}

/*-----------------------------*/
/***** Форма обратой связи *****/
/*-----------------------------*/
.wpcf7-form {
    display: block;
    width: 270px;
    margin: 30px auto 0;
}

.wpcf7-list-item {
    margin: 20px 0 20px 0 !important;
}

.wpcf7-not-valid-tip {
    margin-top: 5px;
    font-size: 0.75rem !important;
}

.wpcf7-mail-sent-ok {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    margin: 0 !important;
    padding: 10px 5px !important;
    background: greenyellow;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.wpcf7-validation-errors, .wpcf7-spam-blocked {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    margin: 0 !important;
    padding: 10px 5px !important;
    background: red;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.footerbox__private_red {
    color: red;
    &:hover {
        color: red;
        text-decoration: underline;
    }
}

/*-------------------*/
/***** Bootstrap *****/
/*-------------------*/
.mark {
    background: transparent !important;
}